@font-face {
  src: url('../fonts/ExpertSans-Regular.ttf');
  font-family: 'Expert Sans';
  font-weight: 'regular';
}
body {
  font-family: 'Expert Sans';
  background: #00B7FF;
  color: #fff;
}

#main-wrapper {
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

#quiz-area {
  min-width: 100%;
}

#answers a {
  background: white;
  color: #00B6FF;
  padding: .1em;
  font-size: 2.5em;
}

#question h3 {
  font-size: 3em;
}

#answers {
  display: none;
}

.actual {
  background-color: #ffffff;
  color: #42b7fb;
  padding: .1em;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
  padding: 0.55em;
}

#config-bar {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#config-bar:hover {
  opacity: 1;
}
