@font-face {
  src: url('../fonts/ExpertSans-Regular.ttf');
  font-family: 'Expert Sans';
  font-weight: 'regular';
}
body {
  font-family: 'Expert Sans';
  background: #00B7FF;
  color: #fff;
}
#answers a {
  color: #FABE10;
  font-size: 1.5em;
}
#answers {
  display: none;
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
  padding: 0.55em;
}
