@font-face {
  src: url('../fonts/ExpertSans-Regular.ttf');
  font-family: 'Expert Sans';
  font-weight: 'regular';
}
body {
  font-family: 'Expert Sans';
  background: #00B7FF;
  color: #fff;
}
#answers a {
  background: white;
  color: #00B6FF;
  padding: .1em;
  font-size: 1.5em;
}
#answers {
  display: none;
}

.actual {
  background-color: #ffffff;
  color: #42b7fb;
  padding: .1em;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
  padding: 0.55em;
}
